[submodule "Backend_pokeStore"]
	path = Backend_pokeStore
	url = https://github.com/alanjair226/Backend_pokeStore.git
	
[submodule "Frontend_PikaStore"]
	path = Frontend_PikaStore
	url = https://github.com/alanjair226/Frontend_PikaStore.git
